.about {
  background-color: $bg-light;
  .container {
    overflow: visible;
  }
  &__content {
    text-align: center;
    .btn-primary {
      margin-top: 30px;
    }
  }
  &__item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    @media (max-width: 956px) {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
    }
    & > div {
      flex: 1;
    }
    &__text {
      text-align: center;
      margin-right: 30px;
      @media (max-width: 956px) {
       margin-right: 0;
      }
    }
  }
}