//Variables
$black: #000;
$white: #fff;
$grey: #6a6a6a;
$light-grey: #919191;
$dark-grey: #414141;
$red: #ff0000;

//Accent color
$accent-color: #393939;

//Background colors
$bg-main: #f5f5f5;
$bg-light: $white;
$bg-dark: $accent-color;

//Text colors
$text-main: $black;
$text-dark: $dark-grey;
$text-lightest: $light-grey;



//Hover btn
$hover-dark: $light-grey;

//Transition
$transition-base: all .3s ease-in-out;